[aws]
aws_region_name = us-west-2

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[global]
cluster_template = awsbatch
update_check = true
sanity_check = true

[cluster awsbatch]
key_name = key-batch
scheduler = awsbatch
compute_instance_type = optimal
base_os = alinux2
vpc_settings = my-vpc
min_vcpus = 2
desired_vcpus = 2
max_vcpus = 24


[vpc my-vpc]
vpc_id = vpc-0fd4a4b4324b01999
master_subnet_id = subnet-08ea19c542cc93ec5
compute_subnet_id = subnet-0f6f1ef56110c750b

